html,
body {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
}



.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.container {
  flex: 1;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  transition: all 0.2s ease-in-out;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}


.preco-antigo {
  text-decoration: line-through;
  color: grey;
  font-size: 20px;
  margin: 0;
}

.preco-novo {
  color: red;
  font-size: 20px;
  margin: 0;
}

a {
  color: #000000;
}

.mostradorGet {
  size: 20px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card .btn {
  border-color: #007bff;
  color: #007bff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn:hover {
  background-color: #007bff;
  color: #fff;
}

.row-cols-1 .col {
  margin-bottom: 1.5rem;
}

footer {
  text-align: center;
  background-color: #ffffff;
  padding: 1rem 0;
  margin-top: auto;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .card {
    margin-bottom: 1rem;
  }
}